* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    height: 100vh;
    font-family: 'Contrail One', cursive;
}

.app-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculator {
    max-width: 25%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 10px;
    gap: 1em;
    padding: 2em 1.5em;
    background: #0d375a;
    box-shadow: 10px 10px 25px 8px #ccc;
}

button {
    padding: .7em .1em;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
    box-shadow: inset -1px 2px 0 0 #4d73bf;
    background: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
    text-shadow: 0 1px 0 #3359a5;
    border-radius: 8px;
    transition: .4s ease;
    font-family: 'Contrail One', cursive;
}

button:hover {
    background: #2b54a7;
}

input {
    outline: none;
    border: none;
    grid-column: 1/5;
    border-radius: 10px;
    height: 3.5em;
    font-size: 2rem;
    margin-bottom: .5em;
    background: #4267b2;
    padding: 0 .5em;
    color: rgba(255, 255, 255, .9);
    text-align: end;
    font-family: 'Contrail One', cursive;
    pointer-events: none;
}

input::placeholder {
    color: #fff;
}

.foot {
    margin-top: 2em;
    font-size: .8rem;
    font-weight: bolder;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .calculator {
        max-width: 40%;
    }
}

@media screen and (max-width: 540px) {
    .calculator {
        max-width: 65%;
    }
}

@media screen and (max-width: 375px) {
    .app-wrapper {
        padding: 1.5em 0;
    }
    .calculator {
        max-width: 80%;
    }
}

@media screen and (max-width: 285px) {
    .app-wrapper {
        padding: 1.5em 0;
    }
    .calculator {
        max-width: 90%;
    }

    button {
        font-size: 1rem;
    }

    input {
        font-size: 1.5rem;
    }
}